h1, h2 {
    color: black;
}

body {
    margin: 100px;
    padding: 0px;
    font-family: 'Space Mono', sans-serif;
    color: #dddddd;
    background-color:#FDE58A;
}

.background-image {
  background-image: url('..background-image');
}

.bookshelf {
    display:flex;
    gap: 20px;
}

.notecard {
    /* display: flex; */
  
    box-sizing: border-box;
    width: 450px;
    min-height: 150px;
  
    /* margin-left: auto;
    margin-right: auto; */
  
    padding: 20px;
  
    border-radius: 8px;
    background-color: #3E007C ;
}
  
.notecard-left {
    /* flex-grow: 1; */
    /* background-color: blue; */
}

  /* .notecard-right {
    width: 30px;
    /* flex-shrink: 0; */
    /* background-color: white;
  } */ 
  
  .note-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .note-body {
    font-size: 14px;
    font-weight: 400;
    color: white;
  }
  
  .notecard-main-content {
    display: flex;
  }
  
  .notecard-thumbnail {
    width: 70px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .notecard-text {
    width: calc(100% - 70px - 20px);
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .notecard-footer {
    margin-top: 15px;
    font-size: 12px;
    color: white
  }

  button { 
    width: 100px;
    height: 40px;
    border-radius: 10px;
  }

.environment-one {
    width: 2000px;
    height: 1000px;
}