.logo {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: -80px;
}

hr {
    margin-top: 0px;
    height: 4px;
    background: black;
}

.imagetitle {
    font-size: 25px;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    text-align: center;
}

.image-container {
    display: inline-block;
    text-align: center;
    position: relative;  
}

.details {
    display: block;
    text-align: left;
    bottom: 0; 
    left:0;
    font-size: 16px;
}

.roll {
    text-decoration: underline;
}

#pic {
    width: 200px;
    height: 200px;
    border: 3px solid black;
}

#cartitem {
    width: 450px;
    height: 450px;
    border: 3px solid black; 
}

#cartpic { 
    width: 100px; 
    height: 100px;
    border: 3px solid black;
}

.details:hover {
    background-color: yellow;
    display: inline-block;
    padding: 4px;
}

.details:hover .roll {
    font-weight: bold;
}

.productpage {
    text-decoration: none;
    color: black;
}

.productpage:hover {
    background-color: yellow; 
    font-weight: bold;
}

.cartpage {
    text-decoration: none;
    color: black;
}

.cartpage:hover { 
    background-color: yellow; 
    font-weight: bold;
}

#glazing, #pack {
    width: 150px;
}

button { 
    width: 150px;
    display: inline-block;
}

button:hover { 
    background-color: yellow; 
    font-weight: bold;
}

#receiptline { 
    width: 500px;
}

#inlineprice { 
    display: inline-block;
    padding: 10px;
}

a { 
  text-decoration: none;  
}

.customize { 
    text-align: left; 
    margin: auto;
    padding: 10px;
    width: 13%;
}


