
/*I used external source w3schools's margin property page to make spacing around elements more accurate to the mockups*/
.logo {
    width: 400px;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 30px;
}

hr {
    margin-top: 0px;
    height: 4px;
    background: black;
}

body {
    font-family: Georgia, serif;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.productpage {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: yellow;
}

.cartpageyes { 
    text-decoration: none; 
    color: black;
    font-weight: bold;
    background-color: yellow;
}

.cartpage {
    text-decoration: none;
    color: black;
}

.productpageno { 
    color: black;
}

.imagetitle {
    font-size: 25px;
}

/* used w3schools source to create a display of inline block so elements are centered and together*/
.image-container {
    display: inline-block;
    text-align: center;
    position: relative;  
}

.details {
    display: inline-block;
    text-align: left;
    bottom: 0; 
    left:0;
    font-size: 20px;
    padding: 20px;
}

 /* sourced text-decoration from stack overflow to remove the default hyperlink purple color */
.roll {
    text-decoration: underline;
    color: black;
}

#pic {
    width: 400px;
    height: 400px;
    border: 3px solid black;
}

#cartitem {
    width: 600px;
    height: 600px;
    border: 3px solid black; 
}

#cartpic { 
    width: 200px; 
    height: 200px;
    border: 3px solid black;
}

select { 
    font-size: 20px;
}

.details:hover {
    background-color: yellow;
    padding: 4px;
}

.details:hover .roll {
    font-weight: bold;
}


#glazing, #pack {
    width: 150px;
}

button { 
    width: 150px;
    font-size: 20px;
    display: inline-block;
    background-color: yellow;
    font-weight: bold;
    padding: 10px;
}

#receiptline { 
    width: 800px;
}

#inlineprice { 
    display: inline-block;
    padding: 10px;
}

a { 
  text-decoration: none;  
}

.removal { 
    font-size: 12px;
    text-decoration: underline; 
    margin: auto;
    margin-top: 5px;
    margin-bottom: 40px;
}

.customize { 
    text-align: left; 
    margin: auto;
    padding: 10px;
    width: 20%;
}

#pack, #glazing {
    padding: 5px;
    width: 220px;
}

#customizeway {
    margin: auto; 
    padding: 10px;
}

.alignorder { 
    display: block; 
    margin: auto;
    text-align: left;
    justify-content: center;
    width: 250px;
    padding: 20px;
}

.order { 
    line-height: 0px;
}

