.logo {
    width: 400px;
    margin-top: 20px;
    margin-left: 25px;
}

hr {
    margin-top: 0px;
    height: 4px;
    background: black;
}

.imagetitle {
    font-size: 25px;
}

body {
    font-family: Georgia, serif;
    justify-content: center;
    text-align: center;
}

.image-container {
    display: inline-block;
    text-align: center;
    position: relative;  
}

.details {
    display: block;
    text-align: left;
    bottom: 0; 
    left:0;
    font-size: 16px;
}

.roll {
    text-decoration: underline;
}

#pic {
    width: 400px;
    height: 400px;
    border: 3px solid black;
}

#cartitem {
    width: 600px;
    height: 600px;
    border: 3px solid black; 
}

#cartpic { 
    width: 200px; 
    height: 200px;
    border: 3px solid black;
}

.details:hover {
    background-color: yellow;
    display: inline-block;
    padding: 4px;
}

.details:hover .roll {
    font-weight: bold;
}

.productpage {
    text-decoration: none;
    color: black;
}

.productpage:hover {
    background-color: yellow; 
    font-weight: bold;
}

.cartpage {
    text-decoration: none;
    color: black;
}

.cartpage:hover { 
    background-color: yellow; 
    font-weight: bold;
}

#glazing, #pack {
    width: 150px;
}

button { 
    width: 150px;
    display: inline-block;
}

button:hover { 
    background-color: yellow; 
    font-weight: bold;
}

#receiptline { 
    width: 500px;
}

#inlineprice { 
    display: inline-block;
    padding: 10px;
}

a { 
  text-decoration: none;  
}

.customize { 
    text-align: left; 
    margin: auto;
    padding: 10px;
    width: 18%;
}

#pack, #glazing {
    padding: 5px;
    width: 220px;
}

#customizeway {
    margin: auto; 
    padding: 10px;
}

.alignorder { 
    display: block; 
    margin: 0 auto;
    justify-content: center;
    text-align: left;
    width: 200px;
}