body {
    font-family: 'Space Mono', sans-serif;
    color: white;
    background-color:#A35656;
}

.title {
    text-decoration: none;
    font-size: 25px;
    color: #9AF9FF;
}

button { 
    width: 220px;
    height: 40px;
    border-radius: 10px;
    background-color: #9AF9FF;
    border-color: #9AF9FF;
    color: black;
    font-family: 'Space Mono', sans-serif;
    margin: 30px;
}

.bookshelf-all { 
    display: flex; 
    gap: 50px;
}

.bookpic { 
    width: 100px;
    height: 150px;
}

.navigation { 
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 20px;
    color: #9AF9FF;
}

.introduction {
    padding: 200px;
    margin-left:200px;
    margin-right: 200px;
    text-align: center;
}

#welcome { 
    font-size: 30px;
}

#textwelcome { 
    font-size: 20px;
    color: rgb(189, 187, 187);
}

.rectangle {
    height: 1000px;
    width: 100%;
    background-color: #453333;
}

.explanation { 
    text-align: center;
    padding: 30px;
}

h2 {
    color: white;
    text-align: left;
    margin-left: 30px;
}

.emojis { 
    font-size: 100px;
}

#secondemojis {
    font-size: 100px;
}

.readbook { 
    display: flex;
    justify-content: center;
}

.direction { 
    padding: 100px;
    justify-content: center;
}

.buttonrow { 
    display: flex;
}

.footerrow { 
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

}

.howto {
    margin-left: 200px;
    margin-right: 200px;
    padding: 100px;
    text-align: center;
}